#guesses{
    width: 100%;
    font-size: 4rem;
    text-align: center;
}
.guessArea{
    width: 100%;
}

@media screen and (max-width:600px){
    #answerSpace{
        width: 50%;
    }
    #buttons{
        width: 5%;
        height: 5%;
    }
}

#buttons{
    text-align: center;
    padding: 5em;
}
h1{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size:5rem;
    text-align: center;

}
p{
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#life{
    float: right;
    text-align: center;
    padding: 2rem;
}
